<%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s profile" %>

<div class="row">
	<div class="col-md-4 col-md-offset-4 center" style="padding-left: 500px;">
		<%= gravatar_for @chef, size: 150 %>
	</div>
	<div class="col-md-8 well">
		<br>
	</div>
	<div class="col-md-8 well" style=" padding-left: 320px;">
		<div class="recipe-actions ">
			<% if logged_in? && (current_chef==@chef || current_chef.admin?) %>
				<%= link_to "Edit Profile", edit_chef_path(@chef), class: "btn btn-xs btn-warning " %>
				<% if current_chef.admin? && current_chef!=@chef %>
					<%= link_to "Delete Profile", chef_path(@chef), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure you want to delete this recipe?"} %>
				<% end %>
			<% end %>
			<%= link_to "Return to Chefs list", chefs_path, class: "btn btn-xs btn-primary" %>
		</div>
	</div>
</div>
<br>
<hr />
<% if @chef.recipes.count !=0 %>
<div style="padding-left: 170px;">
	<h1>Chef <%= @chef.chefname %>'s recipes </h1>
</div>
 <div class="digg_pagination" style="padding-left: 450px;">
    <%= will_paginate @chef_recipes %>
 </div>
<%= render 'recipes/recipe', obj:@chef_recipes %>
 <div class="digg_pagination" style="padding-left: 450px;">
    <%= will_paginate @chef_recipes %>
 </div>
 <% else %>
 <div >
	<h1>No recipe </h1>
</div>
<br><br>
<% end %>



